@import "config";

body {
  position: relative;
}

.jumbotron {
  background: none;
}

.banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner .btn {
  width: max-content;
}

