@import "config";

$avatarSize: 104px;

#main {
  background: rgb(240, 242, 245);
}

.user-module {
  background: #fff;
}

#user-header {
}

.line {
  margin: 10px auto;
  width: 90%;
  border-bottom: 1px #ccc dashed;
}

#user-avatar {
  width: $avatarSize;
  height: $avatarSize;
}

.nothing {
  color: #aaa;
}

.post-thumbnail {
  margin-right: 24px;
}

.concern span, .fans span {
  color: #bbb;
}

.fans {
  padding-left: 1rem;
}